<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis maiores consequuntur mollitia cupiditate blanditiis harum velit ad beatae esse ipsum sit, inventore quia nesciunt eveniet numquam quas delectus molestias vel.
            </p>
        </ul>
    </div>
</div>
