<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore provident tempora, accusamus illum nihil et cumque pariatur veritatis non minus dolorum accusantium reprehenderit exercitationem, nulla fugit vitae repellendus, incidunt perferendis.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 
        offset-lg-1 parte1">
            <img src="../../../assets/banner.jpg" 
            class="img-fluid img-proyecto">
        </div>
    </div>
</div>
