<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png"  id="APLogo">
        </div>
        <div class="redes">
                <a href=""> <img src="../../../assets/linkedin-logo.png" id="linkedin"> </a>
                <a href=""> <img src="../../../assets/github-logo.png" id="github"> </a>
                <a href=""> <img src="../../../assets/Instagram-logo.png" id="instagram"> </a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>

